.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    color: #ffffff;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        font-size: 2.6rem;
        width: 92.5%;
        justify-self: center; 
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 2rem;
        width: 92.5%;
        justify-self: center;
    }
}
