.footer__link {
    font-style: normal;
    font-size: 1rem;
    line-height: 112%;
    color: #ffffff;
    text-decoration: none;
    padding: 0;
    transition: 0.3s;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .footer__link {
        font-size: 1.5rem;
        margin-bottom: 32px;
    }
}
