.intro__text {
    font-style: normal;
    font-size: 1rem;
    line-height: 163%;
    color: #ffffff;
    max-width: 690px;
    margin: 0 0 33px 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 100%;
    }
}
