.intro {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 984px;
    margin: 94px auto 85px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 950px) {
    .intro { 
        margin: 64px auto 64px;
        width: 92.5%;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: 288px;
    }
}   
  
