.cover__overlay {
    position: absolute;
    width: 100%;
    padding-bottom: 62.5%;
    transition: 0.8s;
    background-size: 100%;
    background-repeat: no-repeat;
    background: #2a2c2f;
    opacity: 0.3;
    z-index: 2;
    z-index: 2;
}
