.lead__caption {
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    margin: 8px 0 0;
    width: fit-content;
}
