.cover__title {
    position: relative;
    font-style: bold;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
    margin-top: 0;
    margin-top: calc((68% - (152px + 66px + 32px)) / 2);
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    z-index: 3;
}

@media screen and (max-width: 576px) {
    .cover__title {
        width: 90%;
        font-size: 2rem;
        margin-top: calc((68% - (70px + 16px + 38px)) / 2);
        margin-bottom: 16px;
        max-width: 288px;
    }
}
