.cover__title {
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    text-align: center;
    color: #ffffff;
    margin: 0 0 32px;
    max-width: 560px;
    z-index: 3;
}

@media screen and (max-width: 576px) {
    .cover__title {
        width: 90%;
        font-size: 2rem;
        margin-bottom: 16px;
        max-width: 288px;
    }
}
