.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    column-gap: 32px;
    row-gap: 48px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        row-gap: 32px;
        column-gap: 28px;
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        margin-bottom: 50px;
    }
}
